

.menu-dropdown {
  position: relative;
}


.parent {
  position: absolute;
  top: 100%;
  left: -10rem;
  width: 400px;
}

.parent ::ng-deep app-menu-content {
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}