.no-caret::after {
  display: none !important;
}


.nav-icon-wrapper {
    background-color: #3a3b3c;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
    position: relative;
}

.nav-icon-wrapper:hover {
    background-color: #4e4f50;
    cursor: pointer;
}

.nav-icon-wrapper.active,
.nav-icon-wrapper:focus-within {
    background-color: #4e69a2;
}

.nav-icon {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
